@{
    ViewData["Title"] = "Landing";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="und" dir="auto" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400");
    </style>

    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700");
    </style>

    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400");
    </style>

    <title></title>
    <!--[if (!mso)&(!ie)]>These<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>are<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>for<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>outlook<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>live<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>that<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>removes<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>the first<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>10 well-formed<!-- -->
    <!--<![endif]-->
    <!--[if (!mso)&(!ie)]>conditional comments<!-- -->
    <!--<![endif]-->
    <!--[if gte mso 9]>
      <xml>
        <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
          <o:AllowPNG />
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    <![endif]-->

    <style type="text/css">
      .dark-mode .bg-fffffe {
        background-color: #fffffe !important;
      }
      .dark-mode .bg-771d1d {
        background-color: #771d1d !important;
      }
      .dark-mode .color-fffffe {
        color: #fffffe !important;
      }
      .dark-mode .bg-d9d9d9 {
        background-color: rgba(217, 217, 217, 0.5) !important;
      }
      .dark-mode .color-000001 {
        color: #000001 !important;
      }

      @media (prefers-color-scheme: dark) {
        html:not(.light-mode) .bg-fffffe {
          background-color: #fffffe !important;
        }
        html:not(.light-mode) .bg-771d1d {
          background-color: #771d1d !important;
        }
        html:not(.light-mode) .color-fffffe {
          color: #fffffe !important;
        }
        html:not(.light-mode) .bg-d9d9d9 {
          background-color: rgba(217, 217, 217, 0.5) !important;
        }
        html:not(.light-mode) .color-000001 {
          color: #000001 !important;
        }
      }

      [data-ogsc] .bg-fffffe {
        background-color: #fffffe !important;
      }
      [data-ogsc] .bg-771d1d {
        background-color: #771d1d !important;
      }
      [data-ogsc] .color-fffffe {
        color: #fffffe !important;
      }
      [data-ogsc] .bg-d9d9d9 {
        background-color: rgba(217, 217, 217, 0.5) !important;
      }
      [data-ogsc] .color-000001 {
        color: #000001 !important;
      }
    </style>

    <meta name="color-scheme" content="light dark" />

    <meta name="supported-color-schemes" content="light dark" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

    <meta name="x-apple-disable-message-reformatting" />

    <style></style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      u + div .kombai-email-compat__list-with-padding-left {
        padding-left: 0.5em !important;
      }
    </style>

    <!--[if mso]>
      <style type="text/css">
        v\:* {
          behavior: url(#default#VML);
          display: inline-block;
        }
        o\:* {
          behavior: url(#default#VML);
          display: inline-block;
        }
        w\:* {
          behavior: url(#default#VML);
          display: inline-block;
        }
        .ExternalClass {
          width: 100%;
        }
        table {
          mso-table-lspace: 0pt;
          mso-table-rspace: 0pt;
        }
        img {
          -ms-interpolation-mode: bicubic;
        }
        .ReadMsgBody {
          width: 100%;
        }
        a {
          background: transparent !important;
          background-color: transparent !important;
        }

        li {
          text-align: -webkit-match-parent;
          display: list-item;
          text-indent: -1em;
        }

        ul,
        ol {
          margin-left: 1em !important;
        }

        p {
          text-indent: 0;
        }
      </style>
    <![endif]-->
  </head>
  <body style="margin: 0; padding: 0">
    <div style="font-size: 0px; line-height: 1px; mso-line-height-rule: exactly; display: none; max-width: 0px; max-height: 0px; opacity: 0; overflow: hidden; mso-hide: all"></div>
    <center lang="und" dir="auto" style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%">
      <table class="bg-fffffe" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="white" width="1440.00" style="background-color: white; width: 1440px; border-spacing: 0; font-family: 'PT Serif', Tahoma, serif; min-width: 1440px">
        <tr>
          <td valign="top" width="100.00%" style="padding-bottom: 22px; width: 100%; vertical-align: top">
            <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
              <tr>
                <td valign="top" height="1989.95" style="height: 1989.95px; vertical-align: top">
                  <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="border: 1px solid rgba(0, 0, 0, 0.1); width: 100%; border-spacing: 0">
                    <tr>
                      <td>
                        <!--[if gte mso 9]> <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" fillcolor="white" alt="background-image" stroke="false" style="border: 0; display: inline-block; width: 1080.00pt; height: 1030.50pt" src="assets/image_3bd08e8e.png"/> <v:rect alt="background-image-rectangle" fill="true" stroke="false" style="border: 0; display: inline-block; position: absolute; width: 1080.00pt; height:1030.50pt"> <v:fill opacity="0%" color="#FFFFFF"/> <v:textbox inset="0,0,0,0"> <div> <div style="font-size: 0;"> <![endif]-->
                        <table background="assets/image_3bd08e8e.png" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" height="1374.00" style="background: url('assets/image_87fd4419.png') 50% / 100% no-repeat; width: 100%; height: 1374px; border-spacing: 0">
                          <tr>
                            <td>
                              <table class="bg-771d1d" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="#771d1d" width="100.00%" height="668.00" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background-color: rgba(119, 29, 29, 0.68); width: 100%; height: 668px; border-spacing: 0">
                                <tr>
                                  <td valign="top" width="100.00%" height="636.00" style="padding-top: 32px; width: 100%; vertical-align: top; height: 636px">
                                    <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                      <tr>
                                        <td align="right" valign="top" height="48.5" style="padding-right: 82px; height: 48.5px; vertical-align: top; mso-padding-left-alt: 0; mso-padding-right-alt: 0">
                                          <!--[if mso]> <table role="presentation" border="0" cellspacing="0" cellpadding="0" style="padding-right:82.00px;"> <tr> <td> <![endif]-->
                                          <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="115.00" height="39.00" style="margin: 0; border-radius: 555px; border: 3px solid white; width: 115px; height: 39px; border-spacing: 0; border-collapse: separate">
                                            <tr>
                                              <td valign="middle" width="100.00%" height="33.00" style="width: 100%; vertical-align: middle; height: 33px">
                                                <p class="color-fffffe" width="100.00%" style="font-size: 15px; font-weight: 400; color: white; margin: 0; padding: 0; width: 100%; line-height: 17.36px; text-align: center; mso-line-height-alt: normal">Sign in</p>
                                              </td>
                                            </tr>
                                          </table>
                                          <!--[if mso]></td></tr></table><![endif]-->
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="center" valign="top" height="176.23" style="padding-top: 9.5px; height: 176.23px; vertical-align: top">
                                          <img src="assets/image_30caf390.png" width="225" style="max-width: initial; width: 225px; display: block" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td valign="top" height="26.36" style="padding-top: 16px; padding-left: 393.77px; padding-right: 393.77px; height: 26.36px; vertical-align: top">
                                          <img src="assets/image_33695862.png" width="652" style="max-width: initial; width: 652px; display: block; margin-top: -0.5px" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td valign="top" height="83.05" style="padding-top: 14.36px; padding-left: 402.47px; padding-right: 402.47px; height: 83.05px; vertical-align: top"><img src="assets/image_528f5219.png" alt=""Where comfort meets style, and every stay feels like home."" width="635" style="max-width:initial;width:635px;display:block;margin-top:-0.5px"/></td>
                                      </tr>
                                      <tr>
                                        <td align="center" style="padding-top: 16px">
                                          <table class="bg-fffffe" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="white" width="221.00" height="58.00" style="border-radius: 99px; background-color: white; width: 221px; height: 58px; border-spacing: 0; margin-top: -0.5px; border-collapse: separate">
                                            <tr>
                                              <td valign="middle" width="100.00%" height="58.00" style="padding-left: 46.98px; padding-right: 46.98px; width: 100%; vertical-align: middle; height: 58px">
                                                <img src="assets/image_a450b864.png" alt="Book Now!" width="126" style="max-width: initial; width: 126px; display: block" />
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table class="bg-d9d9d9" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="#d9d9d9" width="100.00%" height="708.00" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background-color: rgba(217, 217, 217, 0.5); margin-top: -2px; width: 100%; height: 708px; border-spacing: 0">
                                <tr>
                                  <td align="left" valign="top" height="673.00" style="padding-top: 35px; padding-left: 244px; vertical-align: top; height: 673px; mso-padding-left-alt: 0; margin-left: 244px">
                                    <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin: 0; border-spacing: 0">
                                      <tr>
                                        <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                                        <td valign="top" width="612" style="padding-top: 45px; width: 612px; vertical-align: top">
                                          <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                            <tr>
                                              <td align="left" valign="top" height="32.97" style="padding-left: 3px; height: 32.97px; vertical-align: top; mso-padding-left-alt: 0; margin-left: 3px">
                                                <p class="color-000001" width="100.00%" style="font-size: 20px; font-weight: 400; color: black; margin: 0; padding: 0; width: 100%; line-height: 23px; mso-line-height-rule: exactly">Explore</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="left" valign="top" height="40.03" style="padding-top: 9.97px; padding-left: 5.25px; height: 40.03px; vertical-align: top">
                                                <img src="assets/image_97ae4c5f.png" alt="Choose Your Stay" width="265" style="max-width: initial; width: 265px; display: block" />
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="padding-top: 9.03px">
                                                <img src="assets/image_47773065.png" width="579" style="border: none; border-radius: 20px; max-width: initial; object-fit: contain; width: 579px; display: block; margin-top: -0.5px" />
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <!--[if mso]></tr></table></td><![endif]-->
                                        <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                                        <td valign="top" width="51" style="padding-top: 148.13px; width: 51px; vertical-align: top">
                                          <img src="assets/image_585defa0.png" width="6" style="max-width: initial; width: 6px; display: block" />
                                        </td>
                                        <!--[if mso]></tr></table></td><![endif]-->
                                        <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                                        <td valign="top" width="166" style="padding-top: 220.19px; padding-left: 8px; padding-right: 206px; width: 166px; vertical-align: top; mso-padding-left-alt: 0; margin-left: 8px">
                                          <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                            <tr>
                                              <td align="left" valign="top" height="69" style="padding-left: 1.18px; height: 69px; vertical-align: top">
                                                <img src="assets/image_7b70bfe1.png" alt="Standard " width="121" style="max-width: initial; width: 121px; display: block" />
                                              </td>
                                            </tr>
                                            <tr>
                                              <td valign="top" height="69.36" style="padding-top: 16px; height: 69.36px; vertical-align: top">
                                                <img src="assets/image_2fc37df0.png" alt="Deluxe" width="92" style="max-width: initial; width: 92px; display: block; margin-top: -0.5px" />
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="left" valign="top" height="111.69" style="padding-top: 16px; padding-left: 1.18px; height: 111.69px; vertical-align: top">
                                                <img src="assets/image_714c044.png" alt="Suite " width="67" style="max-width: initial; width: 67px; display: block; margin-top: -0.5px" />
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="padding-top: 16px">
                                                <table class="bg-771d1d" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="#771d1d" width="100.00%" height="47.00" style="border-radius: 55px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); background-color: #771d1d; width: 100%; height: 47px; border-spacing: 0; margin-top: -0.5px; border-collapse: separate">
                                                  <tr>
                                                    <td align="center" valign="middle" height="47.00" style="vertical-align: middle; height: 47px">
                                                      <p class="color-fffffe" style="font-size: 16px; font-weight: 700; color: white; margin: 0; padding: 0; line-height: 13.38px; mso-line-height-alt: normal">View Room</p>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <!--[if mso]></tr></table></td><![endif]-->
                                        <td valign="top" style="padding-left: 8px; vertical-align: top">
                                          <img src="assets/image_aa236e40.png" width="124" style="border: none; max-width: initial; object-fit: contain; width: 124px; display: block" />
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!--[if gte mso 9]> </div> </div> </v:textbox> </v:fill> </v:rect> </v:image> <![endif]-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!--[if mso]> <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="1439" style="width:1439px; border-top:1px solid rgba(0, 0, 0, 0.10);"> <tr> <td> <![endif]-->
                        <div width="1439" style="border-top: 1px solid rgba(0, 0, 0, 0.1); margin-top: -0.5px; width: 1439px; mso-border-top-alt: none"></div>
                        <!--[if mso]></td></tr></table><![endif]-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table class="bg-771d1d" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="#771d1d" width="100.00%" style="background-color: #771d1d; width: 100%; border-spacing: 0">
                          <tr>
                            <td valign="top" width="100.00%" style="padding-top: 11px; padding-bottom: 55px; width: 100%; vertical-align: top">
                              <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                <tr>
                                  <td align="center" style="padding-bottom: 4.61px">
                                    <img src="assets/image_601c84be.png" width="173" style="max-width: initial; width: 173px; display: block" />
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" style="padding-top: 4.61px; padding-bottom: 25.78px">
                                    <img src="assets/image_d4fb9826.png" alt="Happy Customers" width="271" style="max-width: initial; width: 271px; display: block; margin-top: -0.5px" />
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="padding-top: 16px; padding-left: 294px">
                                    <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin: 0; border-spacing: 0">
                                      <tr>
                                        <td width="399" style="padding-right: 39px; width: 399px">
                                          <table class="bg-fffffe" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="white" width="100.00%" height="213.00" style="border-radius: 25px; background-color: white; width: 100%; height: 213px; border-spacing: 0; border-collapse: separate">
                                            <tr>
                                              <td valign="top" width="100.00%" height="201.00" style="padding-top: 12px; padding-left: 13px; padding-right: 13px; width: 100%; vertical-align: top; height: 201px">
                                                <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                                  <tr>
                                                    <td align="left">
                                                      <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin: 0; border-spacing: 0">
                                                        <tr>
                                                          <td valign="top" style="padding-right: 5px; vertical-align: top">
                                                            <img src="assets/image_dbc7430.png" width="50" style="max-width: initial; width: 50px; display: block" />
                                                          </td>
                                                          <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                                                          <td valign="top" width="253" style="padding-top: 13.99px; padding-left: 8px; width: 253px; vertical-align: top">
                                                            <!--[if mso]> <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="253" style="width:253px;"> <tr> <td> <![endif]-->
                                                            <p class="color-000001" width="253" style="font-size: 14px; font-weight: 700; color: black; margin: 0; padding: 0; width: 253px; line-height: 17.02px; mso-line-height-alt: 16px">Jamy</p>
                                                            <!--[if mso]></td></tr></table><![endif]-->
                                                          </td>
                                                          <!--[if mso]></tr></table></td><![endif]-->
                                                          <td valign="middle" style="padding-left: 8px; vertical-align: middle">
                                                            <img src="assets/image_a7f452e2.png" width="40" style="border: none; max-width: initial; object-fit: contain; width: 40px; display: block" />
                                                          </td>
                                                        </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="padding-left: 63px">
                                                      <p class="color-000001" width="100.00%" style="font-family: Questrial, Tahoma, sans-serif; font-size: 14px; font-weight: 400; text-align: left; line-height: 25px; color: black; mso-line-height-rule: exactly; margin: 0; margin-top: -3px; padding: 0; width: 100%">Ang Diyos sa paglaum magapuno kanimo sa tibuok kalipay ug kalinaw samtang magasalig ka kaniya, aron ikaw magatungha sa paglaum pinaagi sa gahum sa Espiritu Santo.</p>
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="399" style="padding-left: 8px; width: 399px">
                                          <table class="bg-fffffe" cellpadding="0" cellspacing="0" border="0" role="presentation" bgcolor="white" width="100.00%" height="213.00" style="border-radius: 25px; background-color: white; width: 100%; height: 213px; border-spacing: 0; border-collapse: separate">
                                            <tr>
                                              <td valign="top" width="100.00%" height="201.00" style="padding-top: 12px; width: 100%; vertical-align: top; height: 201px">
                                                <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="399.00" style="width: 399px; border-spacing: 0">
                                                  <tr>
                                                    <td style="padding-left: 20px; padding-right: 20px">
                                                      <table cellpadding="0" cellspacing="0" border="0" role="presentation" width="100.00%" style="width: 100%; border-spacing: 0">
                                                        <tr>
                                                          <td valign="top" style="padding-right: 5px; vertical-align: top">
                                                            <img src="assets/image_4e9cf2d5.png" width="50" style="border: none; border-radius: 50%; max-width: initial; object-fit: contain; width: 50px; display: block" />
                                                          </td>
                                                          <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                                                          <td valign="top" width="56" style="padding-top: 16.83px; padding-left: 8px; padding-right: 196px; width: 56px; vertical-align: top">
                                                            <!--[if mso]> <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="56" style="width:56px;"> <tr> <td> <![endif]-->
                                                            <p class="color-000001" width="56" style="font-size: 14px; font-weight: 700; text-align: justify; color: black; margin: 0; padding: 0; width: 56px; line-height: 11.34px; mso-line-height-alt: 12px">Hacob</p>
                                                            <!--[if mso]></td></tr></table><![endif]-->
                                                          </td>
                                                          <!--[if mso]></tr></table></td><![endif]-->
                                                          <td valign="middle" style="padding-left: 8px; vertical-align: middle">
                                                            <img src="assets/image_93ad919.png" width="35" style="border: none; max-width: initial; object-fit: contain; width: 35px; display: block" />
                                                          </td>
                                                        </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="right" style="padding-right: 6px">
                                                      <!--[if mso]> <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="right" width="307" style="width:307px;"> <tr> <td align="right"> <![endif]-->
                                                      <p class="color-000001" width="307" style="font-family: Questrial, Tahoma, sans-serif; font-size: 14px; font-weight: 400; text-align: left; line-height: 25px; color: black; mso-line-height-rule: exactly; margin: 0; margin-top: -6px; padding: 0; width: 307px">Kang Siya nga makabuhat og labaw pa kay sa tanan nga atong pangayoon o hunahunaon, sumala sa iyang gahum nga nagalihok sulod kanato.</p>
                                                      <!--[if mso]></td></tr></table><![endif]-->
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" valign="top" height="339.05" style="padding-top: 16px; padding-left: 253px; height: 339.05px; vertical-align: top">
                  <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin: 0; border-spacing: 0">
                    <tr>
                      <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                      <td valign="top" width="472.86" style="padding-top: 13.05px; width: 472.86px; vertical-align: top">
                        <img src="assets/image_2b8140e6.png" width="190" style="max-width: initial; width: 190px; display: block" />
                      </td>
                      <!--[if mso]></tr></table></td><![endif]-->
                      <td valign="top" width="238.96" style="padding-left: 8px; width: 238.96px; vertical-align: top">
                        <img src="assets/image_a88835c8.png" alt="Book" width="57" style="max-width: initial; width: 57px; display: block" />
                      </td>
                      <td valign="top" width="235.74" style="padding-left: 8px; width: 235.74px; vertical-align: top">
                        <img src="assets/image_b09c751e.png" alt="Services" width="89" style="max-width: initial; width: 89px; display: block" />
                      </td>
                      <!--[if mso]><td valign="top"><table role="presentation" border="0" cellspacing="0" cellpadding="0"><tr><![endif]-->
                      <td valign="top" style="padding-top: 6px; padding-left: 8px; vertical-align: top">
                        <img src="assets/image_7a73ca9f.png" alt="Offers" width="67" style="max-width: initial; width: 67px; display: block" />
                      </td>
                      <!--[if mso]></tr></table></td><![endif]-->
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" style="padding-top: 16px; padding-left: 120.78px">
                  <table cellpadding="0" cellspacing="0" border="0" role="presentation" style="margin: 0; border-spacing: 0; font-family: Roboto, Tahoma, sans-serif">
                    <tr>
                      <td valign="middle" width="228" style="width: 228px; vertical-align: middle">
                        <p class="color-000001" width="100.00%" style="font-size: 12px; font-weight: 400; color: black; margin: 0; padding: 0; width: 100%; line-height: 25px; text-align: center; mso-line-height-alt: normal">© 2025 Nustar Hotel. All rights reserved.</p>
                      </td>
                      <td valign="middle" width="100" style="padding-left: 6.64px; width: 100px; vertical-align: middle">
                        <p class="color-000001" width="100.00%" style="font-size: 12px; font-weight: 400; color: black; margin: 0; padding: 0; width: 100%; line-height: 25px; text-align: center; mso-line-height-alt: normal">Privacy Policy</p>
                      </td>
                      <td valign="middle" width="124" style="padding-right: 483.15px; width: 124px; vertical-align: middle">
                        <p class="color-000001" width="100.00%" style="font-size: 12px; font-weight: 400; color: black; margin: 0; padding: 0; width: 100%; line-height: 25px; text-align: center; mso-line-height-alt: normal">Terms &amp; Conditions</p>
                      </td>
                      <td valign="middle" style="padding-left: 8px; vertical-align: middle">
                        <img src="assets/image_ea5d8e99.png" width="126" style="max-width: initial; width: 126px; display: block" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>

